<div class="container mt-5">
        <table class="table table-bordered table-warning table-hover table-condensed table-responsive-lg">
            <thead class="thead-dark text-center">
                <tr>
                    <th>#</th>
                    <th><input type="text" ng-model="search_title" placeholder="Пребарај по наслов"></th>
                    <th>Блог_Категорија</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr  ng-repeat="Data in blog |filter:{Title:search_title}">
                    <td>{{Data.Blog_id}}</td>
                    <td>{{Data.Title}}</td>
                    <td>{{Data.Blog_category}}</td>
                    <td>{{Data.Date}}</td>
                    <td>
                            <a href="details.html" class="btn btn-warning">
                              <i class="fas fa-angle-double-right"></i> Детали
                            </a>
                          </td>
            
                  
                </tr>
            </tbody>
        </table>
        <section class="py-4 mb-4 bg-light">
                <div class="container">
                        <div class="row">
                                <div class="col-md-12">
                                        <a href="" class="btn btn-warning btn-block" data-toggle="modal" data-target="#addBlogModal">
                                                <i class="fas fa-plus"></i> Внеси нов пост
                                        </a>
                                </div>
                        </div>
                </div>
        </section>
      <!--MODALS-->
      <!--BLOG MODAL-->
    <div class="modal fade" id="addBlogModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-warning text-white text-center">
                        <h5 class="modal-title">Додај нов пост</h5>
                        <button class="close" data-dismiss="modal">
                                <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="alert alert-success text-center" ng-show="success"><h4>Успешно внесовте нов пост!</h4></div>
    <form name="myForm">
            <div class="container mt-5">
                <div class="form-group row">
                        <label  class="control-label col-sm-2 col-form-label text-center" for="Product">Наслов:</label> 
                <div class="col-sm-10 ">
    
                        <input type="text" name="Product" ng-model="Product" ng-minlength="3" placeholder="Внеси наслов" class="text-center col-sm-8 col-md-6 col-lg-6 ml-3">
    <!--Labelo za validacija Ime-->  <label class="alert alert-danger text-center col-sm-8 col-md-6 col-lg-6" ng-show="myForm.Product.$dirty && myForm.Product.$invalid">Insert name with min 3 characters</label>
                </div>
                </div>
                <div class="form-group row">
                        <label for="Image" class="control-label col-sm-2 col-form-label text-center">Додај слика:</label>
                        <div class="col-sm-10 ">
                            <input type="file" class="form-control-file text-center col-sm-8 col-md-6 col-lg-6" id="image">    
                        </div>
                       </div>
                <div class="form-group row">
                        <label  class="control-label col-sm-2 col-form-label text-center" for="Category">Блог-категорија:</label> 
                <div class="col-sm-10 ">
    
                        <select name="Category" ng-model="blog_category"  class="text-center col-sm-8 col-md-6 col-lg-6 ml-3">
                            <option ng-repeat="Data in blog_category" value="{{Data.Blog_category}}">{{Data.Blog_category}}</option>
                        </select>
    <!--Labelo za validacija prezime-->  <label class="alert alert-danger text-center col-sm-8 col-md-6 col-lg-6" ng-show="myForm.Surname.$dirty && myForm.Surname.$invalid">Insert name with min 3 characters</label>
                </div>
                </div>
                <div class="form-group row">
                    <label for="body" class="control-label col-sm-2 col-form-label text-center" >Текст:</label>
                    <div class="col-sm-10 ">
                    <textarea name="editor1" id="CKEditor" class="form-control text-center col-sm-8 col-md-6 col-lg-6 ml-3" placeholder="Внеси текст">
                        
                    </textarea>
                    <script>
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace( 'editor1' );
                    </script>
                </div>
               </div>
                
                
                <div class="form-group row">
                        <label  class="control-label col-sm-2 col-form-label text-center" ></label> 
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-outline-warning save-form text-center col-sm-8 col-md-6 col-lg-6 ml-3" ng-click="insert_products(Product,Category,Price)">Зачувај</button>
                            
                            </div>
                         </div>
            </div>
    </form>

                            
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
            <!--BLOG MODAL ENDS HERE-->

            <!--DETAILS MODAL-->
            <div class="modal fade"   id="addDetailsModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-warning text-white text-center">
                            <h5 class="modal-title">Преглед на постоечки пост</h5>
                            <button class="close" data-dismiss="modal">
                                    <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="alert alert-success text-center" ng-show="success"><h4>Успешно внесовте нов пост!</h4></div>
        <form name="myForm">
                <div class="container mt-5">
                        <table class="table table-bordered table-warning table-hover table-condensed table-responsive-lg">
                                <thead class="thead-dark text-center">
                                    <tr>
                                        <th>Наслов</th>
                                        <th>Блог_Категорија</th>
                                        <th>Дата</th>
                                      
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr  ng-repeat="Data in detailspost1">
                                        <td>{{Data.Title}}</td>
                                        <td>{{Data.Blog_category}}</td>
                                        <td>{{Data.Date}}</td> 
                                    </tr>
                                </tbody>
                            </table>
                    <div class="form-group row">
                            <label  class="control-label col-sm-2 col-form-label text-center" for="Category">Блог-категорија:</label> 
                    <div class="col-sm-10 ">
        
                            <select name="Category" ng-model="blog_category"  class="text-center col-sm-8 col-md-6 col-lg-6 ml-3">
                                <option ng-repeat="Data in blog_category" value="{{Data.Blog_category}}">{{Data.Blog_category}}</option>
                            </select>
        <!--Labelo za validacija prezime-->  <label class="alert alert-danger text-center col-sm-8 col-md-6 col-lg-6" ng-show="myForm.Surname.$dirty && myForm.Surname.$invalid">Insert name with min 3 characters</label>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label for="body" class="control-label col-sm-2 col-form-label text-center" >Текст:</label>
                        <div class="col-sm-10 ">
                        <textarea name="editor1" id="CKEditor" class="form-control text-center col-sm-8 col-md-6 col-lg-6 ml-3" placeholder="Внеси текст">
                            
                        </textarea>
                        <script>
                            // Replace the <textarea id="editor1"> with a CKEditor
                            // instance, using default configuration.
                            CKEDITOR.replace( 'editor1' );
                        </script>
                    </div>
                   </div>
                    
                    
                    <div class="form-group row">
                            <label  class="control-label col-sm-2 col-form-label text-center" ></label> 
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-outline-warning save-form text-center col-sm-8 col-md-6 col-lg-6 ml-3" ng-click="insert_products(Product,Category,Price)">Зачувај</button>
                                
                                </div>
                             </div>
                </div>
        </form>
    
                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
    
        </div>


    
    