<div class="container">
    <div class="row mt-5">
    <div class="col-md-3">
        <a href="" class="btn btn-dark btn-block">
            <i class="fas fa-arrow-left"></i>  Назад до најавна
        </a>
    </div>
    <div class="col-md-3">
            <a href="" class="btn btn-dark btn-block">
                    <i class="fas fa-lock"></i>  Смени Пасворд
                </a>
    </div>
    <div class="col-md-3">
            <a href="" class="btn btn-danger btn-block">
                    <i class="fas fa-trash"></i>  Избриши сметка
                </a>
    </div>
   </div>
   <div class="row mt-3">
       <div class="col-md-9">
           <div class="card">
               <div class="card-header">
                   <div class="card-title">
                       <h4>Измени Профил</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-group">
                          <label for="Name">Име</label>
                          <input type="text" class="form-control" value="Игор Сивевски">
                      </div>
                      <div class="form-group">
                            <label for="Email">Емаил</label>
                            <input type="email" class="form-control" value="sivevski@gmail.com">
                     </div>
                     <div class="form-group">
                            <label for="bio">Bio</label>
                            <textarea class="form-control" name="editor1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde at fugiat explicabo temporibus, tempora animi sunt iusto quod beatae optio veritatis velit natus odit error! Possimus esse quisquam quibusdam eveniet autem! Minus dolore quisquam nemo similique doloribus perspiciatis tempore.</textarea>
                          </div>
                  </div>
               </div>
           </div>
       </div>
       <div class="col-md-3">
          
            <input type="file" class="form-control-file"> <img src="./assets/img/avatar.png" alt="" class="d-block img-fluid mb-3">
            <button class="btn btn-dark btn-block">Смени слика</button>
            <button class="btn btn-danger btn-block">Избриши слика</button>
          </div>
   </div>
</div>


<!--WORD EDITOR DOESNT WORK
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());
    
        CKEDITOR.replace('editor1');
      </script>-->