




<!-- SHOWCASE SLIDER -->
<header id="diet_banner">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
        </div>
      </div>
    </div>
  </header>
  <section class="opis">
        <div class="container mt-3 p-0 ">
         <div class="text-center">
      <h2 class="mt-5">Како функционира?</h2>
      <h5 class="mt-3">Едноставно изберете една од понудените опции,следете ги добиените совети и гледајте како вашето тело од ден на ден се менува!  </h5>
    </div> 
    
    <h5 class="ml-4 mt-5">Со нарачката на било кој план,добивате:</h5>
      <div class="d-flex mt-5">
           
              <div class="p-1 align-self-start">
                <i class="fas fa-check"></i>
              </div>
              <div class="p-1 align-self-end">
                Индивидуален пристап
              </div>
            </div>
      <div class="d-flex">
          <div class="p-1 align-self-start">
              <i class="fas fa-check"></i>
          </div>
          <div class="p-1 align-self-end">
              План за исхрана базиран на научни методи и долгогодишно искуство
          </div>
      </div>
  
      
    </section>
  <!-- SERVICES SECTION -->
  <section id="services" class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-header bg-dark text-white">
                  <h3>Основен План</h3>
                </div>
                <div class="card-body">
                  <h4 class="card-title">500 ден</h4>
                  <p class="card-text">Пополнете го онлајлн формуларот и во рок од 3 дена ке ви го испратиме вашиот личен план на оброци.</p>
                  <ul class="list-group">
                    <li class="list-group-item">
                            <div class="d-flex ">
                                    <div class="p-1 align-self-start">
                                      <i class="fas fa-check included"></i>
                                    </div>
                                    <div class="p-1 align-self-end">
                                     Персонализиран план на оброци
                                    </div>
                                  </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex ">
                                    <div class="p-1 align-self-start">
                                      <i class="fas fa-check included"></i>
                                    </div>
                                    <div class="p-1 align-self-end">
                                     Шопинг листа на  продукти
                                    </div>
                                  </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex ">
                                    <div class="p-1 align-self-start">
                                      <i class="fas fa-times"></i>
                                    </div>
                                    <div class="p-1 align-self-end">
                                     Почетна  скајп консултација
                                    </div>
                                  </div>
                    </li>
                    <li class="list-group-item">
                            <div class="d-flex ">
                                    <div class="p-1 align-self-start">
                                      <i class="fas fa-times"></i>
                                    </div>
                                    <div class="p-1 align-self-end">
                                     4 x follow up консултации
                                    </div>
                                  </div>
                    
                    </li>
                  </ul>
                  <a href="#nutricionist" class="btn btn-danger btn-block mt-2">Нарачај</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-header bg-dark text-white">
                  <h3>Напреден план<h3> 
                </div>
                <div class="card-body">
                        <h4 class="card-title">800 ден</h4>
                        <p class="card-text">Закажете скајп консултација во временски период кој вам ви одговара.</p>
                        <ul class="list-group">
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           Персонализиран распоред на оброци
                                          </div>
                                        </div>
                          </li>
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           Шопинг листа на  продукти
                                          </div>
                                        </div>
                          </li>
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           Почетна  скајп консултација
                                          </div>
                                        </div>
                          </li>
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-times"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           4 x follow up консултации
                                          </div>
                                        </div>
                          
                    </li>
                  </ul>
                  <input type="text" class="form-control"  name="dt" uib-datepicker-popup="{{format}}" ng-click="isOpen = true" is-open="isOpen" datepicker-options="options" alt-input-formats="altInputFormats" ng-model="year_mm" />
                  <a href="#date_picker" class="btn btn-danger btn-block mt-2">Нарачај</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-header bg-dark text-white">
                  <h3>Комплетен План</h3>
                </div>
                <div class="card-body">
                        <h4 class="card-title">1000 ден</h4>
                        <p class="card-text">Закажете консултација(лично или скајп) со можност за 4 контролни сесии. </p>
                        <ul class="list-group">
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           Персонализиран распоред на оброци
                                          </div>
                                        </div>
                          </li>
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           Шопинг листа на  продукти
                                          </div>
                                        </div>
                          </li>
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           Почетна  скајп консултација
                                          </div>
                                        </div>
                          </li>
                          <li class="list-group-item">
                                  <div class="d-flex ">
                                          <div class="p-1 align-self-start">
                                            <i class="fas fa-check included"></i>
                                          </div>
                                          <div class="p-1 align-self-end">
                                           4 x follow up консултации
                                          </div>
                                        </div>
                  </ul>
                  <a href="#" class="btn btn-danger btn-block mt-2">Нарачај</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>