<section id="banner">
        <div class="container-fluid" id="recepies_banner">
        </div>
    </section>
    <div class=" container-fluid">
        <div class="col-12  text-center mt-5" ng-model="searcByRecepies" >
                <div class="btn-group" role="group" aria-label="Recepies" ng-repeat="Data in category_recepies">
               <button class="btn btn-outline-secondary btn-bordered ml-5 px-5"> <a ng-click="getRecepies(Data.category_id)"   href="">{{Data.Category_name}}</a></button>
          
        </div>
        </div>
        <div class="row mt-5" >
                <div class="col-xl-8 mx-auto">
            <div class="row mt-3">
            <div class="col-6 col-sm-6 col-md-4 col-xl-4 mt-5" ng-repeat="Data in recepies| filter:{category_id:selectCategory_recepies}">
                    <div class="item-box-blog">
                            <div class="item-box-blog-image">
                              <!--Date-->
                              <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">{{Data.Datum}}</span> </div>
                              <!--Image-->
                              <figure> <img src="./uploads/products/{{Data.Cover_Photo}}" class="img-fluid hover-effect" alt="" > </figure>
                            </div>
                            <div class="item-box-blog-body">
                              <!--Heading-->
                              <div class="item-box-blog-heading">
                                <a href="#">
                                  <h5>{{Data.Title}}</h5>
                                </a>
                              </div>
                              <!--Text-->
                              <div class="item-box-blog-text">
                                <p class="small_text text-left">{{Data.Text}}</p>
                              </div>
                              <div class="mt"> <a href="#article/{{$index}}" class="btn bg-blue-ui white read">Прочитај повеќе</a> </div>
                              <!--Read More Button-->
                            </div>
                          </div>
                        </div>
            </div>
        </div>
            <div class=" col-3 d-none d-xl-block mt-5  mx-auto  text-center">
                    <div class="col-12 text-center">
                            <div class="banner mt-3">
                                    <img src="./assets/img/sezahrana.jpg">
                                    <br>
                                    <hr class="style5">
                                    <br>
                               </div>
                    </div> 
                   <div class="banner mt-5">
                        <img src="./assets/img/vitaminka.gif">
                        <div class="brake">
                                <hr class="section-break-4" />
                        </div>
                   </div>
                   <div class="banner mt-5">
                        <img src="./assets/img/fila-baner.gif">
                        <div class="brake">
                                <hr class="section-break-4" />
                        </div>
                   </div>  

    </div>
    
    </div>
</div>